* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  min-width: 100%;

  overflow: hidden;
  background-image: url(image/backgroundHeader.png);
  background-size: 100% 100%;
}
.header-container {
  margin-left: calc(100vw / 1280 * 70);
  display: flex;
}

.header-left-navbar {
  display: flex;
  padding-top: calc(100vw / 1280 * 45);
}

.header-left-navbar-links a {
  font-size: calc(100vw / 1280 * 22);
  font-family: "Josefin Sans";
  font-style: normal;
  letter-spacing: 0.07em;
  line-height: calc(100vw / 1280 * 22);
  font-weight: 500;
  color: white;
}
.header-left-navbar-links a:nth-child(2) {
  margin-left: calc(100vw / 1280 * 70);
}
.header-left-navbar-phone {
  border: calc(100vw / 1280 * 3) solid #ffffff;
  margin-left: calc(100vw / 1280 * 186);
  margin-top: calc(100vw / 1280 * -14);
}
.header-left-navbar-phone a {
  display: block;
  font-size: calc(100vw / 1280 * 22);
  font-family: "Josefin Sans";
  font-style: normal;
  letter-spacing: 0.07px;
  line-height: calc(100vw / 1280 * 22);
  font-weight: 500;
  color: white;
  padding: calc(100vw / 1280 * 11);
  padding-left: calc(100vw / 1280 * 17);
  padding-right: calc(100vw / 1280 * 16);
}

.header-left-content {
  margin-top: calc(100vw / 1280 * 60);
  flex: 1 1 auto;
}
.header-left-content-header {
  width: calc(100vw / 1280 * 630);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 60);
  line-height: calc(100vw / 1280 * 70);
  letter-spacing: 0.07em;
  color: #ffffff;
}

.header-left-content-text {
  font-family: "Raleway";
  width: calc(100vw / 1280 * 485);
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 26);
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: calc(100vw / 1280 * 40);
}
.header-left-links {
  /* padding-bottom:calc(100vw / 1280 *70) ; */

  padding-top: 80px;
  margin-bottom: 70px;
}
.header-left-links a {
  display: block;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 20);
  color: #ffffff;
}
.header-left-links img {
  width: calc(100vw / 1280 * 32);
  height: calc(100vw / 1280 * 32);
  /* padding-bottom: 15px; */
}
.header-left-links span {
  padding-left: calc(100vw / 1280 * 20);
  /*  padding-top: 15px; */
}
.header-left-links-watg {
  padding-top: calc(100vw / 1280 * 20);
}
.header-left-links-watg a {
  display: inline;
}
.header-left-links-watg img {
  width: calc(100vw / 1280 * 32);
  height: calc(100vw / 1280 * 32);
  /* padding-bottom: 0; */
}
.header-left-links-watg a:nth-child(2) {
  padding-left: calc(100vw / 1280 * 20);
}
.header-right {
  margin-left: calc(100vw / 1280 * 70);
  width: calc(100vw / 1280 * 360);
  background-color: #ffffff;
  margin-bottom: calc(100vw / 1280 * 70);
}
.header-right-logo img {
  width: calc(100vw / 1280 * 240);
  margin-left: calc(100vw / 1280 * 50);
  padding-top: calc(100vw / 1280 * 40);
}
.header-right-content {
  margin-left: calc(100vw / 1280 * 50);
  padding-top: calc(100vw / 1280 * 33);
}
.header-right-content-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 30);
  line-height: calc(100vw / 1280 * 37);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 40);
}
.header-right-content-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 16);
  line-height: calc(100vw / 1280 * 19);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 20);
}
/* В ПРОДАЖЕ */
.vprodaje {
  display: flex;
}
.vprodaje-left {
  width: calc(100vw / 1280 * 726);
  margin-top: calc(100vw / 1280 * 70);
  margin-left: calc(100vw / 1280 * 70);
}
.vprodaje-left-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.vprodaje-left-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  padding-top: calc(100vw / 1280 * 40);
  letter-spacing: 0.04em;
}
.vprodaje-left-address {
  padding-top: calc(100vw / 1280 * 40);
  display: flex;
}
.vprodaje-left-address-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 28);
  line-height: 140%;
  letter-spacing: 0.07em;
  padding-left: calc(100vw / 1280 * 36);
  color: black;
  width: calc(100vw / 1280 * 600);
}
.vprodaje-left-address-pin {
  width: calc(100vw / 1280 * 35);
  padding-top: calc(100vw / 1280 * 20);
}
.vprodaje-right {
  margin-left: calc(100vw / 1280 * 54);
  margin-top: calc(100vw / 1280 * 166);
}
.vprodaje-right-price {
  width: calc(100vw / 1280 * 360);
  height: calc(100vw / 1280 * 68);
  background-color: black;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140%;
  letter-spacing: 0.08em;
}
.vprodaje-right-price span {
  display: block;
  padding-top: calc(100vw / 1280 * 16);
}
.vprodaje-right-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140%;
  letter-spacing: 0.08em;
  color: #1a1a1a;
  padding-top: calc(100vw / 1280 * 40);
}
.vprodaje-right-header-first {
  padding-top: calc(100vw / 1280 * 67);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140%;
  letter-spacing: 0.08em;
  color: #1a1a1a;
}
.vprodaje-right-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #1a1a1a;
  padding-top: calc(100vw / 1280 * 9);
}
.vprodaje-img {
  margin-left: calc(100vw / 1280 * 70);
  display: flex;
  margin-top: calc(100vw / 1280 * 57);
  margin-bottom: calc(100vw / 1280 * 70);
}
.vprodaje-img-left img {
  min-width: calc(100vw / 1280 * 710);
}
.vprodaje-img-right img {
  margin-left: calc(100vw / 1280 * 70);
  min-width: calc(100vw / 1280 * 360);
}
.eco {
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
}
.eco-left {
  padding-top: calc(100vw / 1280 * 70);
  margin-left: calc(100vw / 1280 * 70);
}
.eco-left-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.eco-left-text {
  width: calc(100vw / 1280 * 717);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
  padding-top: calc(100vw / 1280 * 55);
}
.eco-left-img img {
  min-width: calc(100vw / 1280 * 710);
  padding-top: calc(100vw / 1280 * 60);
}
.eco-right {
  padding-top: calc(100vw / 1280 * 122);
  padding-left: calc(100vw / 1280 * 70);
}
.eco-right-block {
  display: flex;
  margin-top: calc(100vw / 1280 * 39);
  border: calc(100vw / 1280 * 3) solid #ffffff;
  width: calc(100vw / 1280 * 360);
  height: calc(100vw / 1280 * 178);
}
.eco-right-block-header {
  margin: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 28);
  line-height: calc(100vw / 1280 * 33);
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.eco-right-block-header span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw / 1280 * 36);
  line-height: calc(100vw / 1280 * 72);
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.inprogress {
  background-color: #1a1a1a;
  color: #ffffff;
  padding-left: calc(100vw / 1280 * 70);
  padding-top: calc(100vw / 1280 * 70);
}
.inprogress-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 40);
  line-height: calc(100vw / 1280 * 47);

  letter-spacing: 0.07em;
}
.inprogress-photo1 {
  display: flex;
  padding-top: calc(100vw / 1280 * 57);
}
.inprogress-photo1-img1 img {
  width: calc(100vw / 1280 * 710);
}
.inprogress-photo1-img2 img {
  width: calc(100vw / 1280 * 360);
  margin-left: calc(100vw / 1280 * 70);
}
.inprogress-photo2 {
  display: flex;
  margin-top: calc(100vw / 1280 * 70);
  padding-bottom: calc(100vw / 1280 * 70);
}
.inprogress-photo2-img1 img {
  width: calc(100vw / 1280 * 285);
}
.inprogress-photo2-img2 img {
  width: calc(100vw / 1280 * 355);
  margin-left: calc(100vw / 1280 * 70);
}
.inprogress-photo2-img3 img {
  width: calc(100vw / 1280 * 360);
  margin-left: calc(100vw / 1280 * 70);
}
.tactical {
  display: flex;
  margin-left: calc(100vw / 1280 * 70);
}
.tactical-left {
  margin-top: calc(100vw / 1280 * 70);
}
.tactical-left-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.tactical-left-text {
  width: calc(100vw / 1280 * 687);
  padding-top: calc(100vw / 1280 * 57);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
}

.tactical-right {
  margin-top: calc(100vw / 1280 * 166);
  margin-left: calc(100vw / 1280 * 95);
}
.tactical-right-text {
  width: calc(100vw / 1280 * 360);
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  padding: calc(100vw / 1280 * 20) calc(100vw / 1280 * 30);
}

.tactical-right-buttons {
  margin-top: calc(100vw / 1280 * 74);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  color: #1a1a1a;
}
.tactical-right-buttons-1etbez {
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: inline-block;
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #1a1a1a;
  cursor: pointer;
}
.tactical-right-buttons-1ets {
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: inline-block;
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #1a1a1a;
  cursor: pointer;
}
.tactical-right-buttons-2et {
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: inline-block;
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #1a1a1a;
  cursor: pointer;
}
.active-button {
  background-color: #1a1a1a;
  color: #ffffff;
}
.tactical-left-img img {
  margin-top: calc(100vw / 1280 * 60);
  width: calc(100vw / 1280 * 702);
  height: calc(100vw / 1280 * 455);
  margin-bottom: calc(100vw / 1280 * 70);
}
.tactical-left-img1 {
  display: none;
}
.tactical-left-img2 {
  display: none;
}
.tactical-left-img3 {
  display: none;
}
.active-img {
  display: block;
}
.hotite {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 0.9),
      rgba(20, 20, 20, 0.9)
    ),
    url(image/bgHotite.png);
  background-size: 100% 100%;
  color: #ffffff;
  padding-left: calc(100vw / 1280 * 70);
}
.hotite-header {
  padding-top: calc(100vw / 1280 * 70);
  width: calc(100vw / 1280 * 730);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.hotite-text {
  width: calc(100vw / 1280 * 650);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
  padding-top: calc(100vw / 1280 * 57);
}
.hotite-mail {
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #ffffff;
  display: inline-block;
  margin-bottom: calc(100vw / 1280 * 70);
}
.hotite-mail a {
  display: block;
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  color: #ffffff;
}
.hotite-phone {
  margin-top: calc(100vw / 1280 * 30);
  border: calc(100vw / 1280 * 3) solid #ffffff;
  display: inline-block;
}
.hotite-phone a {
  display: block;
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: block;
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  color: #ffffff;
}
.stroimtakje {
  margin-left: calc(100vw / 1280 * 70);
}
.stroimtakje-header {
  padding-top: calc(100vw / 1280 * 70);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}

.stroimtakje-img {
  display: flex;
  padding-top: calc(100vw / 1280 * 57);
  margin-bottom: calc(100vw / 1280 * 70);
}
.stroimtakje-img-1 img {
  width: calc(100vw / 1280 * 710);
}
.stroimtakje-img-2 img {
  margin-left: calc(100vw / 1280 * 70);
  width: calc(100vw / 1280 * 360);
}
.footer {
  background-color: #1a1a1a;
  color: #ffffff;
}
.footer-container {
  padding: calc(100vw / 1280 * 34) calc(100vw / 1280 * 70);
  display: flex;
  justify-content: space-between;
}
.footer-container-logo img {
  width: calc(100vw / 1280 * 278);
}
.footer-container-data {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 14);;
}
