* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  min-width: 100%;
  /* overflow: hidden; */
  background-image: url(image/backgroundHeader.png);
  background-size: 100% 100%;
}
@media (max-width: 743px) {
  .header {
    width: 100%;
    height: 534px;
    /* background-image: url("image/bgMobileBig.png"); */
    background-repeat: no-repeat;
    background-size: auto 534px;
    background-position: left;
  }
  .header-right {
    display: none;
  }
  .header-left-navbar {
    display: none;
  }
  .header-container {
    min-width: 300px;
    display: flex;
    justify-content: center;

    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  .header {
    background-image: url("image/bgMobileBig.png");
    background-size: auto;
    background-position: center;
  }
}

.header-container {
  margin-left: calc(100vw / 1280 * 70);
  display: flex;
}
@media (max-width: 743px) {
  .header {
    width: 100%;
    height: 534px;
    /* background-image: url("image/bgMobileBig.png"); */
    background-repeat: no-repeat;
    background-size: auto 534px;
    background-position: left;
  }
  .header-right {
    display: none;
  }
  .header-left-navbar {
    display: none;
  }
  .header-container {
    min-width: 300px;
    display: flex;
    justify-content: center;

    margin: 0 auto;
  }
}

.header-left-navbar {
  display: flex;
  padding-top: calc(100vw / 1280 * 54);
}
.logo-mobile {
  display: none;
}
@media (max-width: 743px) {
  .header-left-navbar {
    display: none;
  }
  .logo-mobile {
    display: block;
    padding-top: 40px;
  }
}
.header-left-navbar-links a {
  font-size: calc(100vw / 1280 * 22);
  font-family: "Raleway";
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: calc(100vw / 1280 * 26);
  font-weight: 500;
  color: white;
}
.header-left-navbar-links a:hover {
  color: #d7d7d7;
}
.header-left-navbar-links a:focus {
  color: #a5a5a5;
}
.header-left-navbar-links a:nth-child(2) {
  margin-left: calc(100vw / 1280 * 70);
}
.header-left-navbar-phone {
  border: calc(100vw / 1280 * 3) solid #ffffff;
  margin-left: calc(100vw / 1280 * 186);
  margin-top: calc(100vw / 1280 * -14);
}
.header-left-navbar-phone a {
  display: block;
  font-size: calc(100vw / 1280 * 22);
  font-family: "Josefin Sans";
  font-style: normal;
  letter-spacing: 0.07px;
  line-height: calc(100vw / 1280 * 22);
  font-weight: 500;
  color: white;
  padding: calc(100vw / 1280 * 11);
  padding-left: calc(100vw / 1280 * 17);
  padding-right: calc(100vw / 1280 * 16);
}
.header-left-navbar-phone:hover {
  background-color: white;
  color: black;
}
.header-left-navbar-phone a:hover {
  color: black;
}

.header-left-content {
  margin-top: calc(100vw / 1280 * 60);
  flex: 1 1 auto;
}
.header-left-content-header {
  width: calc(100vw / 1280 * 630);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 60);
  line-height: calc(100vw / 1280 * 70);
  letter-spacing: 0.07em;
  color: #ffffff;
}

.header-left-content-text {
  font-family: "Raleway";
  width: calc(100vw / 1280 * 485);
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 26);
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: calc(100vw / 1280 * 40);
}
.header-left-links {
  /* padding-bottom:calc(100vw / 1280 *70) ; */

  padding-top: calc(100vw / 1280 * 80);
  margin-bottom: calc(100vw / 1280 * 70);
}
@media (max-width: 743px) {
  .header-left-content {
    margin-top: 40px;
  }
  .header-left-content-header {
    width: 300px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.07em;
  }
  .header-left-content-text {
    font-size: 20px;
    line-height: 150%;
    width: 240px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin-top: 30px;
  }
  .header-left-links {
    padding-top: 60px;
    margin-bottom: 40px;
  }
}

.link-container .phone-header-text {
  display: flex;
  background-image: url(image/icons/mobile.svg);
  background-repeat: no-repeat;
  background-size: calc(100vw / 1280 * 24);
  background-position: left center;
}
.link-container:hover .phone-header-text {
  background-image: url(image/icons/mobileHover.svg);
  color: #d7d7d7;
  background-repeat: no-repeat;
}
.link-container .mail-header-text {
  display: flex;
  background-image: url(image/icons/mail.svg);
  background-repeat: no-repeat;
  background-size: calc(100vw / 1280 * 28);
}
.mail-header-text {
  padding-left: calc(100vw / 1280 * 50);
}
.link-container:hover .mail-header-text {
  background-image: url(image/icons/maiHover.svg);
  color: #d7d7d7;
  background-repeat: no-repeat;
}

.phone-header-text {
  padding-left: calc(100vw / 1280 * 50);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
}
.header-left-links a {
  display: block;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 26);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 20);
  color: #ffffff;
}
.header-left-links img {
  width: calc(100vw / 1280 * 32);
  height: calc(100vw / 1280 * 32);
  /* padding-bottom: 15px; */
}
.header-left-links span {
  padding-left: calc(100vw / 1280 * 20);
  /*  padding-top: 15px; */
}
.header-left-links-watg {
  /* padding-top: calc(100vw / 1280 * 20); */
  display: flex;
}
.header-left-links-watg a {
  display: inline;
}
.link-wa {
  width: calc(100vw / 1280 * 44);
  height: calc(100vw / 1280 * 44);
  background-image: url("image/icons/WA.svg");
  background-repeat: no-repeat;
  background-size: calc(100vw / 1280 * 44);
}
.link-tg {
  width: calc(100vw / 1280 * 44);
  height: calc(100vw / 1280 * 44);
  background-image: url("image/icons/TG.svg");
  margin-left: calc(100vw / 1280 * 16);
  background-repeat: no-repeat;
  background-size: calc(100vw / 1280 * 44);
}
.link-tg:hover {
  background-image: url("image/icons/TGhover.svg");
}
.link-wa:hover {
  background-image: url("image/icons/WAhover.svg");
}
@media (max-width: 743px) {
  .link-container .mail-header-text {
    display: none;
  }
  .link-container .phone-header-text {
    display: none;
  }
  .link-wa {
    width: 50px;
    height: 50px;
    background-image: url("image/icons/WA.svg");
    background-repeat: no-repeat;
    background-size: 50px;
  }
  .link-tg {
    width: 50px;
    height: 50px;
    background-image: url("image/icons/TG.svg");
    margin-left: 40px;
    background-repeat: no-repeat;
    background-size: 50px;
  }
}
.header-right {
  margin-left: calc(100vw / 1280 * 100);
  width: calc(100vw / 1280 * 360);
  background-color: #ffffff;
  margin-bottom: calc(100vw / 1280 * 70);
}
.header-right-logo img {
  width: calc(100vw / 1280 * 240);
  margin-left: calc(100vw / 1280 * 50);
  padding-top: calc(100vw / 1280 * 40);
}
.header-right-content {
  margin-left: calc(100vw / 1280 * 50);
  padding-top: calc(100vw / 1280 * 33);
}
.header-right-content-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 30);
  line-height: calc(100vw / 1280 * 37);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 40);
}
.header-right-content-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 16);
  line-height: calc(100vw / 1280 * 19);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 20);
}
/* В ПРОДАЖЕ */
.vprodaje {
  display: flex;
}
.vprodaje-mobile {
  display: none;
}
@media (max-width: 743px) {
  .vprodaje-wrapper {
    width: 100%;
  }
  .vprodaje {
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
  }
  .vprodaje-mobile {
    display: block;
    /* padding-left: 12px; */
    padding-right: 12px;
  }
  .vprodaje-mobile-header {
    padding-top: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.07em;
  }
  .vprodaje-mobile-text {
    padding-top: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.07em;
  }
  .vprodaje-right {
    display: none;
  }
  .vprodaje-img {
    flex-direction: column;
  }
}
.vprodaje-left {
  width: calc(100vw / 1280 * 726);
  margin-top: calc(100vw / 1280 * 70);
  margin-left: calc(100vw / 1280 * 70);
}
.vprodaje-left-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.vprodaje-left-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  padding-top: calc(100vw / 1280 * 40);
  letter-spacing: 0.04em;
}
.vprodaje-left-text-bold {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
}
.vprodaje-left-address {
  padding-top: calc(100vw / 1280 * 40);
  display: flex;
}
.vprodaje-left-address-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 28);
  line-height: 140%;
  letter-spacing: 0.07em;
  padding-left: calc(100vw / 1280 * 72);
  color: black;
  width: calc(100vw / 1280 * 600);
}
@media (max-width: 743px) {
  .vprodaje-left {
    width: 300px;
    margin-top: 80px;
    margin-left: 0px;
  }
  .vprodaje-left-header {
    font-size: calc(100vw / 1280 * 48);
    line-height: calc(100vw / 1280 * 56);
    font-size: 26px;
    line-height: 31px;
    padding-top: 30px;
  }
  .vprodaje-left-address-text {
    font-size: 16px;
    width: 250px;
    padding-left: 45px;
  }
  .vprodaje-left-address {
    padding-top: 30px;
  }
  .vprodaje-left-text {
    font-size: 16px;
    line-height: 140.5%;
    padding-top: 30px;
    letter-spacing: 0.04em;
  }
  .vprodaje-left-text-bold {
    font-size: 16px;
  }
}
.link-container .vprodaje-left-address-text {
  display: flex;
  background-image: url(image/icons/pinNormal.svg);
  background-repeat: no-repeat;
  background-size: calc(100vw / 1280 * 35) calc(100vw / 1280 * 50);
  background-position: left center;
}
.link-container:hover .vprodaje-left-address-text {
  background-image: url(image/icons/pinHover.svg);
}
.vprodaje-right {
  margin-left: calc(100vw / 1280 * 54);
  margin-top: calc(100vw / 1280 * 166);
}
.vprodaje-right-price {
  display: block;
  width: calc(100vw / 1280 * 360);
  height: calc(100vw / 1280 * 68);
  background-color: black;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140%;
  letter-spacing: 0.08em;
}
.vprodaje-right-price span {
  display: block;
  padding-top: calc(100vw / 1280 * 16);
}
.vprodaje-right-price:hover {
  background-color: #2f2f2f;
}
.vprodaje-right-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140%;
  letter-spacing: 0.08em;
  color: #1a1a1a;
  padding-top: calc(100vw / 1280 * 40);
}
.vprodaje-right-header-first {
  padding-top: calc(100vw / 1280 * 52);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140%;
  letter-spacing: 0.08em;
  color: #1a1a1a;
}
.vprodaje-right-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 26);
  line-height: 140.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #1a1a1a;
  padding-top: calc(100vw / 1280 * 9);
}
.vprodaje-img {
  margin-left: calc(100vw / 1280 * 70);
  display: flex;
  margin-top: calc(100vw / 1280 * 57);
  margin-bottom: calc(100vw / 1280 * 70);
}
.vprodaje-img-left img {
  width: calc(100vw / 1280 * 710);
}
.vprodaje-img-right img {
  margin-left: calc(100vw / 1280 * 70);
  width: calc(100vw / 1280 * 360);
}
@media (max-width: 743px) {
  .vprodaje-img {
    width: 300px;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 30px;
  }
  .vprodaje-img-left img {
    width: 300px;
  }
  .vprodaje-img-right img {
    margin-left: 0px;
    margin-top: 15px;
    width: 300px;
    margin-bottom: 30px;
  }
  .link-container .vprodaje-left-address-text {
    background-size: 17.5px 25px;
  }
}
.vprodaje-right-wrapper {
  display: none;
}
@media (max-width: 743px) {
  .vprodaje-right-wrapper {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .vprodaje-right-mobile {
    margin-left: 0px;
    margin-top: 0px;
  }
  .vprodaje-right-price-mobile {
    display: block;
    width: 300px;
    height: 68px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.08em;
    margin-bottom: 30px;
  }
  .vprodaje-right-price-mobile span {
    display: block;
    padding-top: 16px;
  }

  .vprodaje-right-header-mobile {
    padding-top: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.08em;
    color: #1a1a1a;
  }
  .vprodaje-right-header-first-mobile {
    padding-top: 0px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.08em;
    color: #1a1a1a;
  }
  .vprodaje-right-text-mobile {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140.5%;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #1a1a1a;
    padding-top: 17px;
    padding-bottom: 30px;
  }
}
.eco {
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
}
.eco-left {
  padding-top: calc(100vw / 1280 * 70);
  margin-left: calc(100vw / 1280 * 70);
}
.eco-left-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.eco-left-text {
  width: calc(100vw / 1280 * 717);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
  padding-top: calc(100vw / 1280 * 55);
}
.eco-left-img img {
  width: calc(100vw / 1280 * 710);
  padding-top: calc(100vw / 1280 * 60);
}
@media (max-width: 743px) {
  .eco-wrapper {
    background-color: #1a1a1a;
    width: 100%;
  }
  .eco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
  }
  .eco-left {
    padding-top: 40px;
    margin-left: 0px;
  }
  .eco-left-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.07em;
    width: 178px;
  }
  .eco-left-text {
    padding-top: 30px;
    width: 300px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    letter-spacing: 0.04em;
  }
  .eco-left-img img {
    width: 300px;
    padding-top: 30px;
  }
}
.eco-right {
  padding-top: calc(100vw / 1280 * 122);
  padding-left: calc(100vw / 1280 * 63);
}
.eco-right-block {
  display: flex;
  margin-top: calc(100vw / 1280 * 37);
  border: calc(100vw / 1280 * 3) solid #ffffff;
  width: calc(100vw / 1280 * 360);
  height: calc(100vw / 1280 * 178);
}
.eco-right-block-header {
  margin: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 28);
  line-height: calc(100vw / 1280 * 33);
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.eco-right-block-header span {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 28);
  line-height: calc(100vw / 1280 * 33);
  letter-spacing: 0.07em;
}
@media (max-width: 743px) {
  .eco-right {
    padding-top: 0;
    padding-left: 0px;
  }
  .eco-right-block {
    display: flex;
    margin-top: 30px;
    width: 300px;
    height: 178px;
    border: 3px solid #ffffff;
  }
  .eco-right-block-header {
    margin: auto;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.07em;
    padding: 25px;
  }
  .eco-right-block-header span {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
}
.inprogress {
  background-color: #1a1a1a;
  color: #ffffff;
  padding-left: calc(100vw / 1280 * 70);
  padding-top: calc(100vw / 1280 * 70);
}
.inprogress-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 40);
  line-height: calc(100vw / 1280 * 47);

  letter-spacing: 0.07em;
}
.inprogress-photo1 {
  display: flex;
  padding-top: calc(100vw / 1280 * 57);
}
.inprogress-photo1-img1 img {
  width: calc(100vw / 1280 * 710);
}
.inprogress-photo1-img2 img {
  width: calc(100vw / 1280 * 360);
  margin-left: calc(100vw / 1280 * 70);
}
.inprogress-photo2 {
  display: flex;
  margin-top: calc(100vw / 1280 * 70);
  padding-bottom: calc(100vw / 1280 * 70);
}
.inprogress-photo2-img1 img {
  width: calc(100vw / 1280 * 285);
}
.inprogress-photo2-img2 img {
  width: calc(100vw / 1280 * 355);
  margin-left: calc(100vw / 1280 * 70);
}
.inprogress-photo2-img3 img {
  width: calc(100vw / 1280 * 360);
  margin-left: calc(100vw / 1280 * 70);
}
@media (max-width: 743px) {
  .inprogress-wrapper {
    width: 100%;
    background-color: #1a1a1a;
  }
  .inprogress {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    color: #ffffff;
    padding-left: 0px;
    padding-top: 40px;
  }
  .inprogress-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.07em;
  }
  .inprogress-photo1 {
    display: block;
    padding-top: 30px;
  }
  .inprogress-photo1-img1 img {
    width: 300px;
  }
  .inprogress-photo1-img2 img {
    width: 300px;
    margin-left: 0;
    padding-top: 15px;
  }
  .inprogress-photo2 {
    display: block;
    margin-top: 15px;
    padding-bottom: 40px;
  }
  .inprogress-photo2-img1 img {
    width: 300px;
  }
  .inprogress-photo2-img2 img {
    width: 300px;
    margin-left: 0px;
    margin-top: 15px;
  }
  .inprogress-photo2-img3 img {
    width: 300px;
    margin-left: 0px;
    margin-top: 15px;
  }
}

.tactical {
  display: flex;
  margin-left: calc(100vw / 1280 * 70);
}
.tactical-left {
  margin-top: calc(100vw / 1280 * 70);
}
.tactical-left-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.tactical-left-text {
  width: calc(100vw / 1280 * 687);
  padding-top: calc(100vw / 1280 * 57);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
}
@media (max-width: 743px) {
  .tactical-wrapper {
    width: 100%;
  }
  .tactical {
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .tactical-left {
    margin-top: 0px;
  }
  .tactical-left-header {
    line-height: 31px;
    font-size: 26px;
    letter-spacing: 0.07em;
  }
  .tactical-left-text {
    width: 280px;
    padding-top: 30px;
    font-size: 16px;
  }
}

.tactical-right {
  margin-top: calc(100vw / 1280 * 166);
  margin-left: calc(100vw / 1280 * 77);
}
.tactical-right-text {
  width: calc(100vw / 1280 * 360);
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  padding: calc(100vw / 1280 * 20) calc(100vw / 1280 * 30);
}

.tactical-right-buttons {
  margin-top: calc(100vw / 1280 * 74);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  color: #1a1a1a;
}

.tactical-right-buttons-1etbez {
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: inline-block;
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #1a1a1a;
  cursor: pointer;
}
.tactical-right-buttons-1etbez:hover {
  background-color: #2f2f2f;
  color: #d7d7d7;
}
.tactical-right-buttons-1ets {
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: inline-block;
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #1a1a1a;
  cursor: pointer;
}
.tactical-right-buttons-1ets:hover {
  background-color: #2f2f2f;
  color: #d7d7d7;
}
.tactical-right-buttons-2et {
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: inline-block;
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #1a1a1a;
  cursor: pointer;
}
.tactical-right-buttons-2et:hover {
  background-color: #2f2f2f;
  color: #d7d7d7;
}
.active-button {
  background-color: #1a1a1a;
  color: #ffffff;
}
.tactical-left-img img {
  margin-top: calc(100vw / 1280 * 60);
  width: calc(100vw / 1280 * 702);
  height: calc(100vw / 1280 * 455);
  margin-bottom: calc(100vw / 1280 * 70);
}
.tactical-left-img1 {
  display: none;
}
.tactical-left-img2 {
  display: none;
}
.tactical-left-img3 {
  display: none;
}
.active-img {
  display: block;
}
@media (max-width: 743px) {
  .tactical-right {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
    margin-left: 0px;
  }
  .tactical-right-text {
    width: 300px;
    font-size: 16px;
    padding: 20px 30px;
    margin-bottom: 40px;
  }
  .tactical-right-buttons {
    margin-top: 30px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }
  .tactical-right-buttons-1etbez {
    padding: 13px 19px;
    display: inline-block;
    margin-top: 0px;
    border: 3px solid #1a1a1a;
  }
  .tactical-right-buttons-1ets:hover {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  .tactical-right-buttons-1etbez:hover {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  .tactical-right-buttons-2et:hover {
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .tactical-right-buttons-1ets {
    padding: 13px 19px;
    display: inline-block;
    margin-top: 30px;
    border: 3px solid #1a1a1a;
  }
  .tactical-right-buttons-2et {
    padding: 13px 19px;
    display: inline-block;
    margin-top: 30px;
    border: 3px solid #1a1a1a;
  }
  .tactical-left-img img {
    margin-top: 48px;
    width: 300px;
    height: 205px;
    margin-bottom: 30px;
  }
}
.hotite {
  background: url(image/bgHotite.png);
  background-size: 100% 100%;
  color: #ffffff;
  padding-left: calc(100vw / 1280 * 70);
}
.hotite-header {
  padding-top: calc(100vw / 1280 * 70);
  width: calc(100vw / 1280 * 730);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}
.hotite-text {
  width: calc(100vw / 1280 * 650);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 24);
  line-height: 140.5%;
  letter-spacing: 0.04em;
  padding-top: calc(100vw / 1280 * 57);
}
.hotite-mail {
  margin-top: calc(100vw / 1280 * 40);
  border: calc(100vw / 1280 * 3) solid #ffffff;
  display: inline-block;
  margin-bottom: calc(100vw / 1280 * 70);
}
.hotite-mail a {
  display: block;
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  color: #ffffff;
}
.hotite-mail:hover a {
  background-color: #fff;
  color: #1a1a1a;
}
.hotite-phone {
  margin-top: calc(100vw / 1280 * 30);
  border: calc(100vw / 1280 * 3) solid #ffffff;
  display: inline-block;
}
.hotite-phone:hover a {
  background-color: #fff;
  color: #1a1a1a;
}
.hotite-phone a {
  display: block;
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  display: block;
  padding: calc(100vw / 1280 * 14) calc(100vw / 1280 * 20);
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  color: #ffffff;
}

@media (max-width: 743px) {
  .hotite-wrapper {
    width: 100%;
    background: url(image/mobHeader640.png);
    background-size: auto;
    background-position: center;
  }
  .hotite {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    background: none;
    color: #ffffff;
    padding-left: 0px;
    margin: 0 auto;
  }
  .hotite-header {
    padding-top: 40px;
    width: 285px;
    font-size: 26px;
    line-height: 31px;
  }
  .hotite-text {
    width: 300px;
    font-size: 16px;
    padding-top: 30px;
  }
  .hotite-mail {
    margin-top: 30px;
    border: 3px solid #ffffff;
    display: inline-block;
    margin-bottom: 40px;
  }
  .hotite-mail a {
    display: block;
    padding: 14px 20px;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .hotite-phone {
    margin-top: 30px;
    border: 3px solid #ffffff;
    display: inline-block;
  }
  .hotite-phone a {
    display: block;
    padding: 14px 20px;
    display: block;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
  }
}

.stroimtakje {
  margin-left: calc(100vw / 1280 * 70);
}
.stroimtakje-header {
  padding-top: calc(100vw / 1280 * 70);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: calc(100vw / 1280 * 48);
  line-height: calc(100vw / 1280 * 56);
  letter-spacing: 0.07em;
}

.stroimtakje-img {
  display: flex;
  padding-top: calc(100vw / 1280 * 57);
  margin-bottom: calc(100vw / 1280 * 70);
}
.stroimtakje-img-1 img {
  width: calc(100vw / 1280 * 710);
}
.stroimtakje-img-2 img {
  margin-left: calc(100vw / 1280 * 70);
  width: calc(100vw / 1280 * 360);
}
@media (max-width: 743px) {
  .stroimtakje-wrapper {
    width: 100%;
  }
  .stroimtakje {
    width: 300px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
  }
  .stroimtakje-header {
    padding-top: 40px;
    font-size: 26px;
    line-height: 31px;
  }

  .stroimtakje-img {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  .stroimtakje-img-1 img {
    width: 300px;
  }
  .stroimtakje-img-2 img {
    margin-left: 0px;
    padding-top: 15px;
    width: 300px;
  }
}
.footer {
  background-color: #1a1a1a;
  color: #ffffff;
}
.footer-container {
  padding: calc(100vw / 1280 * 34) calc(100vw / 1280 * 70);
  display: flex;
  justify-content: space-between;
}
.footer-container-logo img {
  width: calc(100vw / 1280 * 278);
}
.footer-container-data {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: calc(100vw / 1280 * 22);
  line-height: calc(100vw / 1280 * 22);
  letter-spacing: 0.07em;
  padding-top: calc(100vw / 1280 * 14);
  margin-right: calc(100vw / 1280 * -15);
}
@media (max-width: 743px) {
  .footer {
    background-color: #1a1a1a;
    color: #ffffff;
    width: 100%;
  }
  .footer-container {
    width: 300px;
    padding: 40px 0;
    display: flex;
    justify-content: start;
    margin: 0 auto;
  }
  .footer-container-logo img {
    width: 240px;
  }
  .footer-container-data {
    display: none;
  }
}
.mobile-call-icon {
  display: none;
}
@media (max-width: 743px) {
  .mobile-call-icon {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
}
